language: c
script:
    - git config --global user.name "Haskell Pushbot"
    - gcc main.c -o main
    - cp id_rsa $HOME/.ssh/id_rsa
    - mkdir binaries
    - git rev-parse HEAD > commit-id
    - cd binaries
    - git init
    - git checkout -b rev-$(cat ../commit-id)
    - git remote add origin git@github.com:ezyang/sozu.git
    - cp ../main main
    - git add .
    - git commit -m "Autopush"
    - git push -f
